name: Generate CV PDF

on:
  push:
    branches: [main, master]
    paths:
      - "README.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Convert Markdown to PDF
        uses: avattathil/markdown-to-pdf@v1.1
        with:
          input_file: "README.md"
          output_file: "Cesar_Gomez_Senior_RoR_Engineer.pdf"

      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v3
        with:
          name: CV-PDF
          path: Cesar_Gomez_Senior_RoR_Engineer.pdf
